page-editarperfil {

    ion-navbar {
        margin-top:10px;
        margin-left:10px;
    }

    ion-content {
        margin-top:-14.5%;
        height:106%;
    }

    h1 {
        font-size:3rem;
        font-weight: 900;
        padding-left:35px;
        padding-top:0px;
        margin-bottom:0px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 1.2;
    }

    h2 {
        font-size:2rem;
        font-weight: 900;
        padding-left:8px;
        padding-top:20px;
        margin-bottom:20px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 1.2;
    }

    .content-bg {
    
        background: rgb(39,47,61);
        background: -moz-linear-gradient(top,  rgb(39,47,61) 0%, rgb(22,27,33) 100%);
        background: -webkit-linear-gradient(top,  rgb(39,47,61) 0%,rgb(22,27,33) 100%);
        background: linear-gradient(to bottom,  rgb(39,47,61) 0%,rgb(22,27,33) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272f3d', endColorstr='#161b21',GradientType=0 );
    
      }

      .item-formulario {
        border-radius:10px;
        background: #22272e;
        margin-bottom:5px;
      }
}
