<ion-content fullscreen class="perfil">

    <h1 style="animation: 1000ms ease-out 0s 1 slideInFromBottom;">Perfil</h1>

    <div *ngIf='!email'>

        <ion-grid style="padding:0px;margin-top:50%;">

                <ion-row style="padding:0px;">

                        <ion-col style="padding:7px;text-align:center;animation: 1200ms ease-out 0s 1 slideInFromBottom;">
                            Você não criou uma conta.
                        </ion-col>

                </ion-row>

                <ion-row style="padding:0px;">

                        <ion-col style="padding:7px;animation: 1400ms ease-out 0s 1 slideInFromBottom;">
        
                            <button full ion-button color="default" round icon-left (click)="logout()" style="text-align:center;">
                                Criar agora!
                            </button>
        
                        </ion-col>
        
                </ion-row>

        </ion-grid>

    </div>

    <div  *ngIf='email'>

        <ion-list inset>

            <ion-item *ngIf="(perfilData | async)?.nome" class="item-formulario">
                <h2>Nome</h2>
                <p>{{(perfilData | async)?.nome}}</p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.email" class="item-formulario">
                <h2>E-mail</h2>
                <p>{{(perfilData | async)?.email}}</p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.telefone" class="item-formulario">
                <h2>Telefone</h2>
                <p>{{(perfilData | async)?.telefone}}</p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.cpfcnpj" class="item-formulario">
                <h2>CPF/CNPJ</h2>
                <p>{{(perfilData | async)?.cpfcnpj}}</p>
            </ion-item>

        </ion-list>

        <h5 style="animation: 1400ms ease-out 0s 1 slideInFromBottom;" padding text-center *ngIf="!(perfilData | async)?.nome && !(perfilData | async)?.email && !(perfilData | async)?.telefone && !(perfilData | async)?.cpfcpnj" >Seu perfil está incompleto.</h5>

        <ion-list inset>

            <ion-item *ngIf="(perfilData | async)?.nelorepo == true" class="item-formulario">
                <h2 item-start>Nelore</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.gadodecorte == true" class="item-formulario">
                <h2 item-start>Gado de Corte</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.senepol == true" class="item-formulario">
                <h2 item-start>Senepol</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.guzera == true" class="item-formulario">
                <h2 item-start>Guzera</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.girolando == true" class="item-formulario">
                <h2 item-start>Girolando</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.cavalos == true" class="item-formulario">
                <h2 item-start>Cavalos</h2>
                <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.crioulos == true" class="item-formulario">
                    <h2 item-start>Crioulos</h2>
                    <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.semen == true" class="item-formulario">
                    <h2 item-start>Sêmen</h2>
                    <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

            <ion-item *ngIf="(perfilData | async)?.ovinos == true" class="item-formulario">
                    <h2 item-start>Ovinos</h2>
                    <p><ion-icon color="primary" name="md-checkmark"></ion-icon></p>
            </ion-item>

        </ion-list>

        <div padding>

            <ion-grid style="padding:0px;">

                <ion-row style="padding:0px;">

                    <ion-col style="padding:7px;animation: 1400ms ease-out 0s 1 slideInFromBottom;">
                        <button full ion-button icon-left (click)="editarPerfil()">
                            Editar perfil
                        </button>
                    </ion-col>
    
                </ion-row>
    
                <ion-row style="padding:0px;">
    
                    <ion-col style="padding:7px;animation: 1800ms ease-out 0s 1 slideInFromBottom;">
    
                        <button full ion-button color="barra" round icon-left (click)="logout()" >
                            Deslogar
                        </button>
    
                    </ion-col>
    
                </ion-row>
                    
            </ion-grid>
    
        </div>

    </div>

</ion-content>