<ion-header no-border>
    <ion-navbar transparent>
    </ion-navbar>
</ion-header>

<ion-content fullscreen class="assistir" has-bouncing="true">

    <player [url]="this.channel.player"></player>

    <h1>{{channel.name}}</h1>
    <h5>AO VIVO</h5>

    <div *ngIf="agora else loading" class="agora">
      <ion-grid>
        <ion-row>
          <ion-col class="programa" col-8 col-sm>
            <div class="aovivo">agora</div>
            <div class="nome">{{agora.name}}</div>
          </ion-col>
          <ion-col col-4 col-sm>
            <div class="horario">{{agora.time | date: 'H:mm'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="depois else loading" class="depois">
      <ion-grid>
        <ion-row>
          <ion-col class="programa" col-8 col-sm>
            <div class="aovivo">depois</div>
            <div class="nome">{{depois.name}}</div>
          </ion-col>
          <ion-col col-4 col-sm>
            <div class="horario">{{depois.time | date: 'H:mm'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ng-template #loading>
      <div class='fakeItem'>
        <div class="caixa-aovivo"></div>
      </div>
    </ng-template>

</ion-content>
