<ion-content fullscreen class="home-bg" padding has-bouncing="true">

  	<div class="header">
        <h1 @fadeIn>Canais SBA</h1>
        <h5 @fadeIn>AO VIVO</h5>
    </div>

    <ion-slides pager spaceBetween="10" slidesPerView="2" style="height:280px;">

      <ion-slide *ngFor="let channel of channels">

        <div class="home-slide"(click)="assistirCanal(channel)">
            <img style="margin-top: 50px" src="https://sba1.com/{{channel.transparente}}">
        </div>

      </ion-slide>

    </ion-slides>

    <slide-news [noticias]="noticias"></slide-news>

		<h1>Notícias</h1>
    <h5>MAIS RECENTES</h5>
    
		<div *ngIf='noticias.length < 2'>
		    <div *ngFor='let fake of fakeNoticias' class='fakeNoticias'>
		      <div padding class="caixa"></div>
		      <div class="texto-descricao"></div>
		      <div class="texto"></div>
		    </div>
    </div>
    
		<div *ngIf='noticias.length > 2' [@loadList]="noticias">
      <div *ngFor="let item of noticias" (click)="verNoticia(item)" tappable>
        <div class="noticia">
            <img src="https://sba1.com/thumbs/noticias/{{item.thumbnail.split('noticias/')[1]}}">
            <h2>
              <span *ngFor="let item of item.categories">
                  {{item.name}}
                </span>
            </h2>
            <h1>{{item.name}}</h1>
            <h3>{{item.date | date:'dd/MM/y'}} | às {{item.date | date: 'H':'-0300'}}h{{item.date | date: 'mm'}}</h3>
        </div>
      </div>
    </div>

    <hr>

		<h1>Leilões</h1>
    <h5>PRÓXIMOS</h5>
    
    <div *ngIf='leiloes.length < 3'>
				<div class="leilao" *ngFor='let fake of fakeLeiloes' class='fakeLeilao'>
					<ion-grid>
						<ion-row>
							<ion-col col-4>
								<div class="caixa-leiloes"></div>
							</ion-col>
							<ion-col col-8>
								<div style="padding:5px;">
										<div style="height:25px;width:100%;background-color:rgb(46, 46, 46);margin-bottom:5px;"></div>
										<div style="height:15px;width:40%;background-color:rgb(46, 46, 46);margin-bottom:4px;"></div>
										<div style="height:15px;width:40%;background-color:rgb(46, 46, 46);margin-bottom:4px;"></div>
										<div style="height:15px;width:60%;background-color:rgb(46, 46, 46);margin-bottom:4px;"></div>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
    </div>

    <div class="leilao" *ngFor="let item of leiloes" (click)="verLeilao(item)" [@loadList]="leiloes">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <div *ngIf="item.picture; else gavel">
                <img width="100%" style="min-height:110px;" src="https://sba1.com/thumbs/leiloes/{{item.picture.split('leiloes/')[1]}}">
              </div>
              <ng-template #gavel>
                <img width="100%" src="././assets/imgs/leilaovazio.jpg">
              </ng-template>
            </ion-col>
            <ion-col col-8>
              <h3>{{item.canai.name}}</h3>
              <h2>{{item.name}}</h2>
              <h3><div *ngFor="let item of item.leiloeiras">{{item.name}}</div></h3>
              <p><ion-icon name="md-calendar"></ion-icon>&nbsp; {{item.date | date:'dd/MM'}} | {{item.date | date: 'H:mm':'-0300'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

</ion-content>
