.conteudo {
    background: #191919;
  }
  
  page-tutorial {
    .toolbar-background {
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 15vh;
      font-size: 2.5rem;
      color:#fff;
      font-weight: 800;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      margin-top: 0px;
      font-size: 1.9rem;
      line-height: 1.5;
      color: #fff;
      font-weight: 400;
  
      b {
        color: #3f8dee;
      }
    }
  
  }
  