page-programacao {

    .programacao {
  
        background: rgb(39,47,61);
        background: -moz-linear-gradient(top,  rgb(39,47,61) 0%, rgb(22,27,33) 100%);
        background: -webkit-linear-gradient(top,  rgb(39,47,61) 0%,rgb(22,27,33) 100%);
        background: linear-gradient(to bottom,  rgb(39,47,61) 0%,rgb(22,27,33) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272f3d', endColorstr='#161b21',GradientType=0 );
  
    }

    h1 {
        font-size:3rem;
        font-weight: 900;
        padding-top:12px;
        padding-left:20px;
        margin-top:0px;
        margin-bottom:18px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: 1.2;
    }

    .horario {
        padding:3px;
    }

    .horario .hora {
        float:left;
        font-size:20px;
        font-weight: 800;
        margin-right: 20px;
    }

    .horario .programa {
        float:left;
        font-size:20px;
        font-weight: 400;
    }

    .fakeItem {

        margin:0px;
      
        @keyframes animatedBar{
          0%{
              background-position: -406px 0;
          }
          100%{
              background-position: 0 0;
          }
       }
      
        .caixa-aovivo {
      
          background-color: rgb(46, 46, 46);
          opacity: 0.5;
          height: 53px;
          position: relative;
          padding:15px;
          margin:5px;
          background: linear-gradient(to right, #333333 , rgb(59, 59, 59));
          animation: animatedBar 700ms linear infinite;
          
          &:after {
            position: absolute;
            display: block;
            content: '';
            left:0;
            right: 0;
            bottom: 0;
            top: 0;
            margin:0px;
            background-color: rgb(97, 97, 97);
          }
        }
      
        .caixa-aovivo:after {
          width:0%;
        }
      
    }

}
