<ion-header>
    <ion-navbar transparent>
    </ion-navbar>
</ion-header>

<ion-content class="content-bg">

    <h1>Registrar-se</h1>

    <form [formGroup]="newUser">

        <ion-item style="background-color:transparent;color:#fff;">
            <ion-label floating>E-mail</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>

        <div *ngIf="newUser.controls.username.errors && newUser.dirty" padding>
            <div *ngIf="newUser.controls.username.errors.required">
                E-mail é obrigatório
            </div>
            <div *ngIf="newUser.controls.username.errors.email">
                Este e-mail é inválido
            </div>
        </div>
        
        <ion-item style="background-color:transparent;color:#fff;">
            <ion-label floating>Senha</ion-label>
            <ion-input formControlName="password" type="password" #password></ion-input>
        </ion-item>

    </form>

    <div padding>
        <button ion-button color="primary" block (click)="registrar()">REGISTRAR</button>
    </div>

</ion-content>